<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
  <!-- <script src="/static/javascript.js" type="text/javascript"></script> -->
  {% block script %}
  {% endblock %}
  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/" class="main-title">
    Sam's Blog
  </a>

  <div class="login-area">
    {% if user %}
      <a href="/wiki/_edit{{post_id}}">edit</a>  ~~  
      <a href="/wiki/_history{{post_id}}">history</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="login-link" href="/welcome">{{user.name}}</a>  ~~  <a class="login-link" href="/logout">logout</a>
    {% else %}
      <a href="wiki/_history{{post_id}}">history</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="login-link" href="/login">login</a>  ~~  <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

